$color-white: rgb(255, 255, 255);
$color-blue-light: #0493E9;
$color-blue:rgb(23, 121, 186);
$color-yellow:#C59C47;
$color-grey:#12151F;
$color-light-grey:rgb(113, 113, 113);
$color-navy:#04295F;
@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500'); // setup
