$color-sand: rgba(234, 210, 172, 1);
$color-blue-light: rgba(156, 175, 183, 1);
$color-blue: rgba(66, 129, 164, 1);
$color-white: rgba(255, 255, 255, 1);
$color-rose: rgb(169, 92, 74);
$color-silver:rgb(209, 198, 193);
$color-grey-light: rgb(120, 114, 112);
$color-grey: rgb(77, 82, 86);
$color-grey-dark: rgb(37, 54, 60);
@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500'); // setup