@import 'globals';
html,
body {
  height: 100%;
  width: 100%;
  background-color: $color-white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#appseed-logo {
  height: 100px;
  margin-bottom: 0px !important;
}

#nav-bar {
  text-align: center;
}

h1 {
  color: $color-white;
  font-size: 2em;
  text-align: center;
  padding-top: 14px;
}

#view {
  min-height: 700px;
  border: 4px solid $color-white;
}

.view {
  min-height: 700px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
}

.success {
  background-color: #3adb76;
  color: #0a0a0a;
}

.alert {
  background-color: #cc4b37;
  color: #fefefe;
}

.tiny {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
}
