@import 'globals';
#view-leaflet {
  background-color: $color-blue-light;
  #map {
    border: solid 2px $color-yellow;
    height: 400px;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 4px;
  }
}
