@import 'globals';
#view-main {
  background-color: $color-blue-light;
  padding: 20px;
  #simpsons-gif,
  #ron {
    height: 260px;
  }
  #react-example {
    width: 400px;
    display: inline-block;
  }
}