@import 'globals';
// Mobile First
#view-main {
  background-color: $color-blue;
  padding: 20px;
  #simpsons-gif,
  #ron {
    height: 200px;
  }
  #react-example {
    background-color: rgb(255, 255, 255) !important;
    display: inline-block;
    min-width: 385;
    margin: 0 auto;
  }
  #mock-json-data {
    font-size: 0.8em;
  }
}

// Responsive
@supports (display: grid) {
  #view-main {
    #grid-example {
      padding: 10px;
      border: solid 2px rgb(255, 255, 255);
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 300px 200px;
      // grid-template-rows: 100px 50px 100px;
      grid-gap: 20px;
      .cell {
        background-color: rgba(35, 196, 217, 0.6);
        padding: 20px;
        color: rgb(255, 255, 255);
      }
      .center-cell {
        text-align: center;
      }
      .cell:nth-of-type(odd) {
        background: rgba(46, 127, 136, 0.6);
      }
    }
    .fractional-grid-example {
      margin: 10px;
      border: solid 2px red;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-auto-rows: 50px;
      grid-gap: 20px;
      .cell {
        background-color: $color-blue;
      }
      .cell:nth-of-type(odd) {
        background: rgb(35, 196, 217);
      }
    }
    @media (max-width: 1024px) {
      #grid-example {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media (max-width: 720px) {
      #grid-example {
        grid-template-columns: 1fr;
      }
    }
    @media (max-width: 320px) {
      #grid-example {
        grid-template-columns: 1fr;
      }
    }
  }
}
