@import "colors.scss";
body,
window {
    margin: 0px;
    padding: 0px;
    background-color: $color-green;
    font-family: "Roboto", sans-serif;
    display: initial;
    width: 100%;
}

#welcome-banner {
    position: relative;
    #web-logo {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }
    #welcome-message,
    #show-react-component-title {
        text-align: center;
        color: white;
        color: $color-purple;
        position: absolute;
        width: 100%;
        bottom: 40px;
    }
    height: 200px;
}

.selected {
    // color: red;
    background-color: $color-purple;
    height: 100%;
}

#react {
    .application-container {
        width: 100%;
    }
    .nav-bar {
        background-color: $color-blue-dark;
    }
    .container-user-info {
        width: 100%;
    }
    .container,
    .container-user-info {
        margin: 6px;
        max-width: 340px;
        padding: 0px 10px;
        display: inline-block;
        color: rgb(81, 81, 81);
    }
}