@import "colors.scss";
body,
window {
    margin: 0px;
    padding: 0px;
    background-color: $color-green;
    font-family: "Roboto", sans-serif;
    display: initial;
}

#welcome-banner {
    position: relative;
    #web-logo {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }
    #welcome-message,
    #show-react-component-title {
        text-align: center;
        color: white;
        color: $color-purple;
        position: absolute;
        width: 100%;
        bottom: 40px;
    }
    height: 200px;
}

.container,
.container-user-info {
    border: solid 2px $color-purple;
    margin: 6px;
    max-width: 340px;
    padding: 0px 10px;
    display: inline-block;
    color: lighten($color-green, 10%);
}

.nav-bar {
    background-color: $color-blue-dark;
}

.container-user-info {
    width: 100%;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 300px;
    color: rgb(81, 81, 81);
    font-size: 12px;
    p {
        margin-bottom: 4px;
    }
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#react .show-react-components {
    border: solid red 2px;
    float: left;
    display: block;
}

#react .show-react-components.component-user-list {
    float: initial;
    width: 200px;
    margin-top: 167px;
}

#show-hide-all-components {
    position: absolute;
    bottom: 10px;
    left: 10px;
}