@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);#view-main {
  background-color: #1779ba; }
  #view-main #simpsons-gif,
  #view-main #ron {
    height: 200px; }
  #view-main #react-example {
    background-color: white !important;
    display: inline-block;
    min-width: 385;
    margin: 0 auto; }
  #view-main #mock-json-data {
    font-size: 0.8em; }

@supports ((display: -ms-grid) or (display: grid)) {
  #view-main #grid-example {
    padding: 10px;
    border: solid 2px white;
    max-width: 1280px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 300px 200px;
        grid-template-columns: 1fr 300px 200px;
    grid-gap: 20px; }
    #view-main #grid-example .cell {
      background-color: rgba(35, 196, 217, 0.6);
      padding: 20px;
      color: white; }
    #view-main #grid-example .center-cell {
      text-align: center; }
    #view-main #grid-example .cell:nth-of-type(odd) {
      background: rgba(46, 127, 136, 0.6); }
  #view-main .fractional-grid-example {
    margin: 10px;
    border: solid 2px red;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 50px;
    grid-gap: 20px; }
    #view-main .fractional-grid-example .cell {
      background-color: #1779ba; }
    #view-main .fractional-grid-example .cell:nth-of-type(odd) {
      background: #23c4d9; }
  @media (max-width: 1024px) {
    #view-main #grid-example {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr; } }
  @media (max-width: 720px) {
    #view-main #grid-example {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } }
  @media (max-width: 320px) {
    #view-main #grid-example {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr; } } }
#view-1 {
  background-color: #1779ba;
  padding: 10px; }
  #view-1 .success {
    margin-top: 14px; }
  #view-1 #react-dialog {
    display: block; }
#view-2 {
  background-color: #12151F; }
#view-leaflet {
  background-color: #0493E9; }
  #view-leaflet #map {
    border: solid 2px #C59C47;
    height: 400px; }
  #view-leaflet .leaflet-popup-content-wrapper {
    border-radius: 4px; }
#redux-example {
  background-color: #1779ba;
  height: 100%;
  width: 100%; }
  #redux-example h1 {
    color: darkcyan; }
html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

#appseed-logo {
  height: 100px;
  margin-bottom: 0px !important; }

#nav-bar {
  text-align: center; }

h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: 14px; }

#view {
  min-height: 700px;
  border: 4px solid white; }

.view {
  min-height: 700px; }

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }

.success {
  background-color: #3adb76;
  color: #0a0a0a; }

.alert {
  background-color: #cc4b37;
  color: #fefefe; }

.tiny {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }

/*# sourceMappingURL=app.css.map*/