<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <rewrite>
           <rules>
                <rule name="DynamicContent">
                     <conditions>
                          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
                     </conditions>
                     <action type="Rewrite" url="index.html" />
                </rule>
           </rules>
      </rewrite>
   </system.webServer>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
 </configuration>